.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.metrics {
  margin: 2.5px;
  height: 250px;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics h1 {
  margin: 0;
  /* display: inline-block; */
  width: fit-content;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 800;
  line-height: 131px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.sales {
  background-color: #ea6640;
}

.loan-payments {
  background-color: #4182bf;
}

.inventory {
  background-color: #3db1ab;
}

.commissions {
  background-color: #f3b538;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
