	
.filter {
    position: relative;
    display: inline-block;
   }
   
   .filter__button {
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
    background-color: #2b7de9;
    background-image: none;
    cursor: pointer;
    border: transparent;
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 1.5;
   }
   
   .filter__button:hover {
    background-color: #176dde;
   }
   .filter__button:focus {
    outline: 1px dotted;
    outline: 1px auto -webkit-focus-ring-color;
   }

   
