
.pieChart {
    width: clamp(300px,50vw,1000px);
    height: auto;
}
.pieChartContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    /* grid-template-rows: 1fr 1fr 1fr;  */
    gap: 0px 0px; 
    gap: 0px 0px; 
    width:100vw;
    height: 100vh;
}
.legend {
    margin-top: 200px;
    margin-left: 100px;
    width: 100px; 
    gap: 10px;
}

.legendName {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}






